{pre_hooks, [
    {"linux", compile,
        "env LD_FLAGS=\"-DHAVE_PRCTL -DHAVE_PRLIMIT -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64\" make -C c_src"}
]}.

{post_hooks, [
    {"linux", clean, "make -C c_src clean"}
]}.

{profiles, [
    {docs, [
        {deps, [
            {edown, "0.8.1"}
        ]},
        {edoc_opts, [
            {report_missing_types, true},
            {doclet, edown_doclet},
            {pretty_printer, erl_pp},
            {src_path, ["src/"]},
            {stylesheet, ""},
            {image, ""},
            {app_default, "http://www.erlang.org/doc/man"}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.
