{port_env, [
    {"x86_64-.*-linux", "DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_SIGNALFD -lpthread -DHAVE_PRLIMIT -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64"},
    {"i686-.*-linux", "DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_SIGNALFD -lpthread -DHAVE_PRLIMIT -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64"},
    {"linux", "DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_SIGNALFD -lpthread"}
    ]}.

{port_specs, [
    {"priv/perc.so", ["c_src/perc.c"]}
    ]}.
