{pre_hooks, [
    {"linux", compile, "env LD_FLAGS=\"-DHAVE_PRCTL -DHAVE_PRLIMIT -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64\" make -C c_src"}
    ]}.

{post_hooks, [
    {"linux", clean, "make -C c_src clean"}
    ]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
